::-webkit-scrollbar {
  background-color: #d6d6d6;
  width: 10px;
  border-radius: 0px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-color;
  border-radius: 10px;
}

*::-webkit-scrollbar-button {
  display: none;
}

