$header-height: 60px;
$genre-container-height: 72px;
$body-background-color: #121212;
$body-text-color: #fff;
$body-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$header-background-color: #242424;
$primary-color: #F0283C;
$scrollbar-thumb-color: #484848;